/.idea/
/KTaNE/*
!/KTaNE/modSettings.xml
!/KTaNE/playerSettings.xml
!/KTaNE/README.md
!/KTaNE/Modsettings/BombTimerModifierSettings.json
!/KTaNE/Modsettings/BossModules.json
!/KTaNE/Modsettings/CameraZoom-settings.txt
!/KTaNE/Modsettings/ColorblindMode.json
!/KTaNE/Modsettings/DeMiLService.json
!/KTaNE/Modsettings/Factory-settings.txt
!/KTaNE/Modsettings/LogfileHotkey-settings.txt
!/KTaNE/Modsettings/ModeSettings.json
!/KTaNE/Modsettings/TweakSettings.json
!/KTaNE/Modsettings/VanillaRuleModifier-settings.txt
